
hw2/data/aerialseq.npy
hw2/data/antseq.npy
hw2/data/carseq.npy
hw2/data/girlseq.npy
hw3/data/ar_source.mov
hw3/data/book.mov
hw3/data/cv_cover.jpg
hw3/data/hp_cover.jpg
hw3/data/cv_desk.png
hw3/data/hp_desk.png
hw3/data/pano_left.jpg
hw3/data/pano_right.jpg
/hw4/data
hw4/HW4_Reconstruction_st.ipynb
hw4/HW4_Reconstruction - Copy.ipynb
hw4/HW4_Reconstruction_ikrause.zip
hw5/HW5_NeuralNetworks_st.ipynb
hw5/data.zip
/hw5/data
hw5/HW5_NeuralNetworks_ikrause.zip
hw5/HW5_NeuralNetworks_ikrause.html
hw6/radiometry_lec23_lec24.pdf
/hw6/data
hw6/1b-c.png
hw6/1b-b.png
hw6/1b-a.png
hw6/1f-b.png
hw6/1f-a.png
hw6/faceCalibrated.png
hw6/2b-a.png
hw6/2b-b.png
hw6/faceCalibratedbr_0.8_0.8_0.8.png
hw6/faceCalibratedbr_0.3_0.3_0.3.png
hw6/faceCalibratedbr_0.3_0.3_0.8.png
hw6/faceCalibratedbr_0.3_0.8_0.3.png
hw6/faceCalibratedbr_0.3_0.8_0.8.png
hw6/faceCalibratedbr_0.8_0.3_0.3.png
hw6/faceCalibratedbr_0.8_0.3_0.8.png
hw6/faceCalibratedbr_0.8_0.8_0.3.png
